@model IEnumerable<Business.Dto.CategoryDto>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="text-primary">Categories</h2>
    <hr />
    <a href="@Url.Action("Create")" class="btn btn-primary my-4">
        <i class="icofont-plus"></i>
        Add New
    </a>
    <span id="Message" class="d-none">@TempData["Message"]</span>
    <div class="alert alert-warning @(Model.Any() ? "d-none" : "")">
        No Categories added yet!
    </div>
    <table class="table @(!Model.Any() ? "d-none" : "")">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Category in Model)
            {
                <tr>
                    <td>@Category.Name</td>
                    <td>@Category.Description</td>

                    <td>
                        <a href="@Url.Action("Edit", "Category", new { id = Category.Id })" class="btn btn-primary">
                            <i class="icofont-ui-edit"></i>
                            Edit
                        </a>
                        <a href="javascript:;" class="btn btn-danger js-delete" data-id="@Category.Id">
                            <i class="icofont-ui-close"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            toastr.options = {
                "preventDuplicates": true
            }
            var message = $('#Message').text();
            if (message !== '') {
                toastr.success(message);
            }
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this Category?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        console.log(btn.data('id'))
                        if (result) {
                            $.ajax({
                                method: 'POST',
                                url: '@Url.Action("Delete", "ApiCategory")',
                                data: { id: btn.data('id') },
                                success: function () {
                                    if ($('tbody tr').length === 1)
                                        $('table').fadeOut(function () {
                                            this.remove();
                                            $('.alert').removeClass('d-none');
                                        });
                                    else
                                        btn.parents('tr').fadeOut(function () {
                                            this.remove();
                                        });

                                    toastr.success('Category deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });                
            });
        });
    </script>
}